.button {
    margin-left: 250px;
    margin-top: 30px;
}

.buttonColor {
    background-color: green;
}

#likeInfo {
    margin-left: 10px;
    margin-bottom: 20px;
}

/* .boolDiv {
    margin-left: 10px;
    margin-bottom: 20px;
} */